html {
	height: 100%;
}

body {
	min-height: 100%;
	display: flex;
	flex-direction: column;
}


.footer-container {
	margin-top: auto;
	height: 180px;
	background-color: #141414;
	display: flex;
}

.footer-subcontainer {
	display: flex;
	align-items: center;
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	padding: 20px;
}

.left-section {
	display: flex;
	align-items: center;
	margin: 0 20px;
}

p {
	color: #12DA9A;
	font-size: 18px;
	font-weight: 600;
}

.footer-content-left {
	color: #d9d9d9;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	margin-right: 30px;
}

a {
	text-decoration: none;
	color: #d9d9d9;
	transition: color 0.3s;
}

a:hover {
	color: white;
	text-decoration: none;
}

.vertical-line {
	width: 1px;
	height: 140px;
	background-color: white;
}

.mid-section {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.mid-section .copyright-tag {
	color: #d9d9d9;
	font-size: 11px;
}

.logo {
	text-align: center;
	margin: 0 20px;
}

.logo img {
	max-width: 160px;
	height: auto;
}

.right-section {
	display: flex;
	align-items: center;
	margin: 0 20px;
}

.footer-content-right {
	color: #d9d9d9;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-left: 30px;
}