<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<link rel="stylesheet" type="text/css" th:href="@{/css/navbar.css}">
	
	<link rel="stylesheet" type="text/css" th:href="@{/css/footer.css}">
</head>

<body>
	<footer class="footer-container">
		<div class="footer-subcontainer">
			<div class="left-section">
				<div class="footer-content-left">
					<p>Contact Me</p>
					<a class="footer-link" href="https://www.linkedin.com/in/patilrishikesh">LinkedIn</a>
					<a class="footer-link" href="https://wa.me/919137108042">WhatsApp</a>
					<a class="footer-link" href="https://www.instagram.com/i_a_m_i_r_o_n_m_a_n/">Instagram</a>
					<a class="footer-link" href="https://github.com/TheRishiPatil">Github</a>
				</div>
				<div class="vertical-line"></div>
			</div>
			<div class="mid-section">
				<div class="logo">
					<img th:src="@{/images/logo.png}" alt="logo">
				</div>
				<p class="copyright-tag">Copyright ©Rishikesh Patil</p>
			</div>
			<div class="right-section">
				<div class="vertical-line"></div>
				<div class="footer-content-right">
					<p>Platforms</p>
					<a class="footer-link" href="https://www.flipkart.com/">Flipkart</a>
					<a class="footer-link" href="https://www.amazon.com/">Amazon</a>
					<a class="footer-link" href="https://www.croma.com/">Croma</a>
					<a class="footer-link" href="https://www.jiomart.com/">Jio Mart</a>
				</div>
			</div>
		</div>
	</footer>
</body>

</html>